<!DOCTYPE html>
<%
      user = nil
      User.all.each do |username|
        if username.email == @site.user_id
          user = username
        end
      end
    %>
<!--[if IE 6]>
  <html id="ie6" lang="es-ES">
<![endif]-->
<!--[if IE 7]>
  <html id="ie7" lang="es-ES">
<![endif]-->
<!--[if IE 8]>
  <html id="ie8" lang="es-ES">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html lang="es-ES">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Interior ~ Infobae.com</title>
<meta name="description" content="<%= @post.news_text %>" />
<meta property="og:title" content="<%= @post.title %>" />
<meta property="og:type" content="article" />
<meta property="og:url" content="<%= request.protocol + request.host + request.fullpath %>" />
<meta property="og:img" content="<%= user.avatar %>" />
<meta property="og:description" content="<%= @post.news_text %>" />
<meta property="og:locale" content="es_LA" />
<meta property="og:site_name" content="<%= @site.name %>" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="<%= request.protocol + request.host + request.fullpath %>" />
<link rel="profile" href="http://gmpg.org/xfn/11" />
<link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link rel='shortcut icon' href='images/favicon.ico' type='image/x-icon'/>
<link rel="canonical" href="" />
<!--[if lt IE 9]>
    <script src="js/html5.js" type="text/javascript"></script>
    <![endif]-->
</head>
<% #cache @post do %>
<body>
<div id="page">
  <!-- Topbar: Inicio -->
  <div class="topbar">
    <div class="inner">
      <h1><%= link_to "news_sourcelink", root_path %></h1>
      <ul class="menu">
        <li class="menu-pos"><a style="display:none" href="https://twitter.com/infobae" class="twitter-follow-button" data-show-count="true" data-lang="es">Seguir a @infobae</a></li>
        <li class="menu-pos">
          <div class="fb-like" data-href="http://www.infobae.com" data-send="false" data-layout="button_count" data-width="160" data-show-faces="false" data-action="recommend" data-colorscheme="dark" data-font="verdana"></div>
        </li>
      </ul>
      <div class="linkback"> <a href="http://www.infobae.com" class="toplnk"><%= image_tag('infobae104x25.png',{:width =>96, :height=>23}) %></a></div>
    </div>
    <div class="bg"></div>
  </div>
  <!-- Topbar: Fin -->

  <!-- Main: Inicio -->
  <div id="main">
    <% color = 0 %>
    <% j = 1 %>

    <!-- Marca: Inicio -->
    <header>
      <div>
        <h3><span><%= link_to "news_sourcelink > ", root_path %></span><%= link_to user.name, @post.site %></h3>
      </div>
    </header>
    <!-- Marca: Fin -->
    <section>
      <!-- username: Inicio -->
      <article><%= link_to image_tag( user.avatar, {:width => 170, :height => 144}), @site %>
        <h1><%= @site.name %>, infobae.com</h1>
        <p><%= user.descripcion %></p>
        <p><%= user.handle %></p>
        <% if user.tiene_blog(user.name)%>
        <%= link_to "Ver perfil opinion", "http://opinion.infobae.com/#{user.parse_name(user.name)}" %>
        <% end %>
        <ol>
          <li>Otras personas que han compartido
            sus news_sources</li>
          <% User.all.each do |username| %>
              <% if username.tiene_blog(username.name) && username != user %>
              <li> <%= link_to "#{username.name}", "http://opinion.infobae.com/#{username.parse_name(username.name)}" %></li>
              <% end %>
            <% end %>
        </ol>
        <a class="vertodos"><%= link_to "Ver Todos", root_path %></a> </article>
      <!-- username: Fin -->
      <!-- Listado: Inicio -->
      <aside>
        <address class="date">
        <%= @post.created_at.strftime("%d/%m/%Y")%> - <%= @post.parse_url(@post.news_source) %>
        </address>
        <h1><%= @post.title %></h1>
        <ul class="redessociales">
          <li>
            <div class="fb-like" data-href=<%= request.protocol + request.host + request.fullpath %> data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" data-action="recommend"></div>

          </li>
          <li><a href="https://twitter.com/share" class="twitter-share-button">Tweet</a></li>
          <li>
            <div class="g-plusone" data-size="medium"></div>
          </li>
        </ul>
        <p><%= @post.news_text %></p>
        <% if @post.image_url != nil || @post.multimedia != "" %>
        <%= image_tag(@post.mostrar_image, {:width => 436, :height => 327}) %>
        <% end %>
        <ul class="redessociales">
          <li>
            <div class="fb-like" data-href=<%= request.protocol + request.host + request.fullpath %> data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" data-action="recommend"></div>

          </li>
          <li>
            <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
          </li>
          <li>
            <div class="g-plusone" data-size="medium"></div>
          </li>
        </ul>
        <div class="fb-comments" data-href=<%= request.protocol + request.host + request.fullpath %> data-width="872" data-num-posts="20"></div>
      </aside>
      <!-- Listados: Fin -->
      <!-- Listado: Inicio -->
      <% @sites = Site.all %>
      <div class="listado">
        <% color = 0 %>
        <% j = 1 %>
        <% @sites.each do |site| %>
          <%
            user = nil
            User.all.each do |username|
              if username.email == site.user_id
                user = username
              end
            end
          %>
          <ul class="post">
            <li class="username">
              <% if user == nil %>
              <% else %>
              <%= link_to image_tag( user.avatar, {:width => 170, :height => 144}), site %>
              <%= link_to user.name, site_path(site) %><p><em>Compartio sus news_sources</em></p>
              <% end %>
            </li>
            <% i = 0 %>
                <% 2.times do %>
                    <% post = site.posts.reverse[i]%>
                    <% if post != nil %>
                      <% date = (Time.zone.now.to_date - post.created_at.to_date).to_i %>
                      <%  año = post.created_at.to_date.year.to_s
                          mes = post.created_at.to_date.month.to_s
                          dia = post.created_at.to_date.day.to_s
                        %>
                        <% if post.image_url != nil || post.multimedia != "" %>
                          <% if color.modulo(2) == 0 %>
                            <li class="fondorojo"><%= link_to "", site_site_post_url(:site_id => site, :ano => año, :mes => mes, :dia => dia, :id => post) %><%= image_tag(post.mostrar_image, {:width => 435, :height => 239}) %>
                          <% else %>
                            <li class="fondoverde"><%= link_to "",site_site_post_url(:site_id => site, :ano => año, :mes => mes, :dia => dia, :id => post) %><%= image_tag(post.mostrar_image, {:width => 435, :height => 239}) %>
                          <% end %>
                          <% j += 1 %>
                          <% if j == 2 %>
                          <% color += 1 %>
                          <% j = 0 %>
                          <% end %>
                        <% else %>
                          <li><%= link_to "", site_site_post_url(:site_id => site, :ano => año, :mes => mes, :dia => dia, :id => post) %>
                        <% end %>
                        <h3><%= post.parse_url(post.news_source) %></h3>
                            <ol>
                                <% url = site_site_post_url(:site_id => site, :ano => año, :mes => mes, :dia => dia, :id => post) %>
                                <% title = post.title %>
                                <li><a id="fb-share" style='text-decoration:none;' type="icon_link" onClick="window.open('http://www.facebook.com/sharer.php?s=100&amp;p[title]=<%= title %>&amp;p[url]=<%= url %>&amp;p[images][0]=https://www.foobar.com/thumb.gif','sharer','toolbar=0,status=0,width=580,height=325');" href="javascript: void(0)">
                                </a></li>
                                <li><a class="twitter" target="_blank" href="https://twitter.com/intent/tweet?url=<%=url%>&related=infobae,infobaeAmerica&via=infobae" >Twitter</a></li>
                            </ol>
                        <h2><%= link_to(post.title, "#{post.news_source}", :target => "_blank") %></h2>
                            <address>
                              <% if date == 0 %>
                                 hoy
                                <% else %>
                                  <% if date == 1%>
                                    ayer
                                  <% else %>
                                    hace <%= date %> dias
                                  <% end %>
                              <% end %>
                            </address>
                        </li>
                        <% i += 1%>
                    <% end %>
            <% end %>
          </ul>
        <% end  %>
      </div>
      <!-- Listado: Fin -->
    </section>
  </div>
  <!-- Main: Fin -->

  <!-- Bottombar: Inicio -->
  <div class="bottombar">
    <div class="inner">
      <div class="linkback"> <a href="http://www.infobae.com" class="toplnk"><%= image_tag('infobae104x25.png',{:width =>96, :height=>23}) %></a></div>
    </div>
    <div class="bg"></div>
  </div>
  <!-- Bottombar: Fin -->

  <!-- Facebook & Twitter: Inicio -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
  <% #end %>

  <!-- Facebook & Twitter: Fin -->

  <!-- Botones de Redes Sociales: Inicio -->
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  </script>
  <script>
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>
  <script type="text/javascript">
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>
  <!-- Botones de Redes Sociales: Fin -->
</div>
</body>
</html>
